@page "/Chat/{chatId}"
@using WsBlazor.Data.DTO
@inject WsBlazor.Data.Services.MessageApiService messageApiService

<h2>Hello chat</h2>

<ul>
  @foreach (var message in Messages) {
    <li>@message.Text</li>
  }
</ul>

<EditForm class="new-message-line" Model="this" OnSubmit="SubmitHandler">
  <InputTextArea class="new-message-input" @bind-Value="NewMessageText"></InputTextArea>
  <button class="new-message-send-btn" type="button">Send</button>
</EditForm>

@code {
  [Parameter]
  public string ChatId { get; set; } = string.Empty;
  public List<Message> Messages = new List<Message>();
  public string NewMessageText {get; set;} = string.Empty;

  public async Task SubmitHandler() {

  }

  protected override async Task OnInitializedAsync() {
    try {
      var messages = await messageApiService.GetMessages(Guid.Parse(ChatId));
      if (messages != null) {
        Messages = messages;
      }
    } catch (Exception e) {
      Console.WriteLine(e.Message);
    }
   
  }
}

