@using WsBlazor.Data.DTO
@inject WsBlazor.Data.Services.ConnectionApiService connectionApiService

<ul>
	@foreach (var item in connectionList)
	{
		<li>
			<button @onclick="@(e => OpenChat(item))" type="button">@item.UserName</button>
		</li>
	}
</ul>

@code {
	[Parameter] 
	public Guid UserId { get; set; }
	private List<UserConnectionDto> connectionList = new();

	private void OpenChat(UserConnectionDto conn) {

	}

	protected override async Task OnInitializedAsync() {
		var data = await connectionApiService.GetUserConnections(this.UserId);
			
		if (data != null) {
			connectionList = data;
		}
	}
}